# Ortam değişkenleri
.env

# Bağımlılıklar
node_modules/

# Log dosyaları
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Çalışma zamanı veriler
pids
*.pid
*.seed
*.pid.lock

# Önbellek dosyaları
.npm
.eslintcache

# OS ve editör klasörleri
.DS_Store
.idea
.vscode
*.swp
*.swo 